# Task Tracker local environment

# Database
TASKTRACKER_DATABASE_USER=tasktracker
TASKTRACKER_DATABASE_PASSWORD=[CHANGE_ME]
TASKTRACKER_DATABASE_NAME=tasktracker
TASKTRACKER_DATABASE_HOST=localhost
TASKTRACKER_DATABASE_PORT=3457
TASKTRACKER_DATABASE_URL=postgres://tasktracker:[CHANGE_ME]@postgres:5432/tasktracker?sslmode=disable

# Server
TASKTRACKER_SERVER_ADDRESS=0.0.0.0
TASKTRACKER_SERVER_PORT=3456

# Security
TASKTRACKER_JWT_SECRET=[CHANGE_ME]

# Logging
RUST_LOG=info
